body {
    font-family: 'Nobile', sans-serif;
    color: rgb(23, 23, 23);
}

.container-cus {
    margin-top: 92px;
}

.bg-white {
    background: white;
}

.nav-custom {
    padding-left: 78px;
    padding-right: 78px;
}

.card-cus:hover {
    /* box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04); */
    transition: all .4s ease;
    transform: translate3D(0,-1px,0) scale(1.02);
}

a, a:hover {
    text-decoration: none;
}

.nav-color {
    color: rgb(23, 23, 23);
}

.bb {
    border: 2px solid #1e3e72;
    border-radius: 2px;
}

h5 svg, h6 svg {
    padding-top: 5px;
}

.footer-cus {
    background: #f2f5fa;
    margin-top: 35px;
    border-top: 1px solid white;
}